{{#is "post, page"}}
    {{#has tag="#affiliate"}}
<div class="kg-card kg-callout-card kg-callout-card-white"><div class="kg-callout-text">We include products we think are useful for our readers. If you buy through links on this page, we may earn a small commission. <a href="https://lunathatbully.com/how-this-site-works/" rel="noreferrer">Learn more</a></div></div>
    {{/has}}
{{/is}}